[submodule ".style"]
	path = .style
	url = https://github.com/Schnittcher/StylePHP
[submodule "libs/vendor/SymconModulHelper"]
	path = libs/vendor/SymconModulHelper
	url = https://github.com/Schnittcher/SymconModulHelper
